<template>
  <tr>
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.created_at}}</td>
  </tr>
</template>
<script>
export default {
  props: ["customer"]
};
</script>
