<template>
    <div class="container">
        <div class="row history-line">
            <div class="col-xl-3">
                <p class="font-weight-bold">{{log.name}}</p>
                <div class="history-date"><span
                            class="sub-info-log">{{ log.created_at }}</span>
                </div>
                <div class="history-position">
                    <span class="sub-info-log">{{log.position}}</span>
                </div>
            </div>
            <div class="col-xl-9">
                <p v-html="log.action_id"></p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: ['log']
}
</script>
