<template>
  <div>
      <div v-if="manager.name != 'undefined'" class="container">
          <div class="row">
              <div class="col">
                  <div>
                    <div class="d-flex edit-form-header">
                      <h4>Name: </h4>
                      <div class="user_status_button-wrap" >
                        <span class="text-success">User`s status: </span  >
                        <manager-status-component :manager="manager"></manager-status-component>
                      </div>
                    </div>

                      <p>{{manager.name}} <a href="#" @click.prevent="openEditWindow('manager_name_display')"><i class="fas fa-edit"></i></a></p>
                      <div v-if="display_control.manager_name_display">
                        <input type="text" class="form-control" v-model="manager.name">
                        <hr>
                        <div class="edit-buttons-wrap">
                          <button class="btn btn-primary" @click="updateManagerData('name', 'manager_name_display')">Save</button>
                        <button class="btn btn-secondary" @click="closeEditWindow('manager_name_display')">Close</button>
                        </div> 
                        <hr>
                        </div>
                  </div>
                  <div>
                      <h4>Email:</h4>
                      <p>{{manager.email}} <a href="#" @click.prevent="openEditWindow('manager_email_display')"><i class="fas fa-edit"></i></a></p>
                      <div v-if="display_control.manager_email_display">
                                                <hr>
                        <div class="edit-buttons-wrap">
                          <input type="text" class="form-control" :value="manager.email">
                          <hr>
                          <button class="btn btn-primary" @click="updateManagerData('email', 'manager_email_display')">Save</button>
                          <button class="btn btn-secondary" @click="closeEditWindow('manager_email_display')">Close</button>
                        </div>
                        <hr>
                      </div>
                  </div>
                  <div>
                      <h4>Position:</h4>
                      <p>{{manager.position}} <a href="#" @click.prevent="openEditWindow('manager_position_dispaly')"><i class="fas fa-edit"></i></a></p>
                      <div v-if="display_control.manager_position_dispaly">
                        <hr>
                        <div class="edit-buttons-wrap">
                          <p>Current position is: <span class="text-success">{{manager.position}}</span></p>
                          <types-form-component :form_data="form_data" :types="types"></types-form-component>
                          <hr>
                          <button class="btn btn-primary" @click="updateManagerData('user_type', 'manager_position_dispaly', false, true)">Save</button>
                          <button class="btn btn-secondary" @click="closeEditWindow('manager_position_dispaly')">Close</button>
                        </div>
                        <hr>
                      </div>
                  </div>
                    <div>
                      <h4>New password:</h4>
                      <div class="alert alert-primary" role="alert">
                        By safety reason password stored in ecncrypted form that why you can`t restore password or see it only create new
                      </div>
                      <div class="alert alert-danger" role="alert">
                         <i class="fas fa-bell text-danger"></i> Be carefull with this option changes will be unrestorable
                      </div>
                      <button class="btn btn-primary"  @click.prevent="openEditWindow('manager_password_dispaly')">Show form</button>
                      <div v-if="display_control.manager_password_dispaly">
                        <hr>
                          <password-form-component :form_data="form_data"></password-form-component>
                          <hr>
                          <button class="btn btn-danger" @click="updateManagerData('password', 'form_data.password', true, true)">Create password</button>
                          <button class="btn btn-secondary" @click="closeEditWindow('manager_password_dispaly')">Close</button>
                        <hr>
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <div v-else>
        <div class="alert alert-danger" role="alert">
            Something goes wrong
        </div>
</div>
  </div>
</template>
<style>
  .edit-form-header{
    justify-content: space-between;
  }
  .user_status_button-wrap {
    font-size: 25px;
    line-height: 25px;
  }
  .user_status_button{
    vertical-align: middle;
    cursor: pointer;
  }
</style>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    managers: "currentManagers",
    types: "getManagerTypes",
    loading: "getLoadingTypes",
    manager: "oneManager",
  }),
  data: function() {
    return {
      id: this.$route.params.id,
      user_ativity_button: 0,
      //manage edit windows
      display_control: {
        manager_name_display: false,
        manager_email_display: false,
        manager_password_dispaly: false,
        manager_position_dispaly: false
      },
      form_data: {
        password: "",
        repeate_password: "",
        user_type: false
      }
    };
  },
  methods: {
    ...mapActions(["getManagerApi", "updateManagerApi", "getManagerTypesApi", "setSingleManager"]),
    getManager(id) {
      this.managers.map(manager => {
        for (let value in manager) {
          if (value == "id" && manager[value] == id) {
            this.setSingleManager(manager)
          }
        }
      });
      if (this.manager == "undefined" || !this.managers.length) {
        this.getManagerApi(this.id);
      }
    },
    openEditWindow(data_value) {
      this.display_control[data_value] = !this.display_control[data_value];
    },
    updateManagerData(field, data_value, ecrypt = false, type = false) {
      let data = {
        colume_name: field,
        ecrypt: ecrypt
      };
      //no more round corners
      if (type) {
        data[field] = this.form_data[field];
      } else {
        data[field] = this.manager[field];
      }
      this.updateManagerApi({ id: this.id, data: data });
    },
    closeEditWindow(data_value) {
      this.display_control[data_value] = false;
    }
  },
  created() {
    this.getManager(this.id);
    this.getManagerTypesApi();
  }
};
</script>
