<template>  
    <tr>
        <td>
            <router-link :to="{path: '/admin/manager/' + manager.id}"><i class="fas fa-edit"></i></router-link> | 
            <a href="#" @click.prevent="removeManager(manager.id)"><i class="fas fa-trash-alt"></i></a>
        </td>
        <td>{{manager.name}}</td>   
        <td>{{manager.email}}</td>
        <td>{{manager.position}}</td>
        <!--<td><manager-status-component :manager="manager"></manager-status-component></td>-->
    </tr>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({}),
  props: ["manager"],
  methods: {
    ...mapActions(["removeManagerModule", "turnOnManagerPreloader"]),
    removeManager(id) {
      this.turnOnManagerPreloader(true);
      this.removeManagerModule(id);
    }
  }
};
</script>

