<template>
    <tr>
        <td>{{object.address}}</td>
        <td>{{object.district}}</td>
        <td>{{object.squere}}</td>
    </tr>
</template>
<script>
export default {
    props: ['object']
};
</script>

