     <aside>
         <form #filter="ngForm" (ngSubmit)="onSubmit(filter)" novalidate>
       <div class="filter">
            <div>
                <h3>Управляющий</h3>
                <div class="form-group" *ngFor="let user of conclusion.users">
                    <input id="manager_{{user.id}}" type="checkbox" name="manager_{{user.id}}" ngModel #manager_{{user.id}}="ngModel>
                    <label for="manager_{{user.id}}">{{user.name}}</label>
                </div>
            </div>
            <div>
                <h3>Статус объекта</h3>
                <div class="form-group" *ngFor="let status of conclusion.statuses">
                  <input id="status_{{status.id}}" type="checkbox" name="status_{{status.id}}" ngModel #status_{{status.id}}="ngModel">
                  <label for="status_{{status.id}}">{{status.status_name}}</label><br>
                </div>
            </div>
            <div>
                <h3>Плащадь, м²</h3>
                <input type="number" class="filter-square-input" name="square_from" ngModel #square_from="ngModel"> -
                <input type="number" name="square_to" class="filter-square-input">
                <button>Ok</button>
            </div>
            <div>
                  <h3>Район города</h3>
                <div class="form-group" *ngFor="let district of conclusion.districts">
                  <input id="district_{{district.district}}" type="checkbox" name="district_{{district.district}}">
                  <label for="district_{{district.district}}">{{district.district}}</label>
                </div>
            </div>
            <div>
                <h3>Конец договора</h3>
                  <select id='gMonth2' onchange="show_month()">
                      <option selected value=''>--Select Month--</option>
                      <option value='1'>Janaury</option>
                      <option value='2'>February</option>
                      <option value='3'>March</option>
                      <option value='4'>April</option>
                      <option value='5'>May</option>
                      <option value='6'>June</option>
                      <option value='7'>July</option>
                      <option value='8'>August</option>
                      <option value='9'>September</option>
                      <option value='10'>October</option>
                      <option value='11'>November</option>
                      <option value='12'>December</option>
                  </select>
                  <button>Ok</button>
            </div>
        </div>
         </form>
         <app-conclusion [conclusion]="conclusion"></app-conclusion>
     </aside>
