<template>
  <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-start">
              <h1>Admin Panel <button class="btn btn-success" @click="goBackToMainSite">Go back to main</button></h1>
              <button class="btn btn-success header__button_logOut" @click="logOut">Log out</button>
            </div>
            <hr>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <router-link to="/admin/index"><i class="fas fa-home"></i></router-link> |
                </li>
                <li class="list-inline-item">
                    <router-link to="/admin/managers-route">Managers</router-link> |
                </li>
            </ul>
        </div>
        <div class="col-lg-12">
            <div v-if="current_route == 'Home'">
              <h4>List of current managers ({{home_page_managers_template.length}}):</h4>
              <ul>
                <li :key="index" v-for="(home_manager, index) in home_page_managers_template">{{home_manager.name}}</li>
              </ul>
              <p>Total count of objects {{home_page_objects_template.length}}</p>
            </div>
            <transition>
                <router-view></router-view>
            </transition>
        </div>
      </div>
  </div>
</template>
<style>
.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 5px 14px;
  border-radius: 5px;
  line-height: 0px;
}
.header__button_logOut {
    height: 36px;
    margin-top: 27px;
    margin-left: auto;
}
</style>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    home_page_managers_template: "currentHomePageManagers",
    home_page_objects_template: "currentHomePageObjects"
  }),
  methods: {
    ...mapActions(["getHomePageConclusion"]),
    goBackToMainSite() {
      location.href = "/";
    },
    logOut() {
      axios
        .get("/log-out")
        .then(response => {
          location.href = "/";
        })
        .catch(error => {
          console.log(eror);
        });
    }
  },
  data: function() {
    return {
      current_route: this.$route.name
    };
  },
  updated() {
    this.current_route = this.$route.name;
  },
  created() {
    this.getHomePageConclusion();
  }
};
</script>

