<template>
  <transition name="fade">
    <div>
          <h1>I`m your customers component</h1>
          <passport-clients></passport-clients>
          <passport-authorized-clients></passport-authorized-clients>
          <passport-personal-access-tokens></passport-personal-access-tokens>
        <div v-if="!loading">
            <table>
              <tr>
                    <td>Name</td>
                    <td>E-mail</td>
                    <td>Position</td>
                </tr>
                <customer-component :key="index" v-for="(customer, index) in customers" :customer="customer"></customer-component>
          </table>
          </div>
          <div v-else>Data uploading...</div>
      </div>
  </transition>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    customers: "currentCustomer",
    loading: "loadingCustomers"
  }),
  data: function() {
    return {};
  },
  methods: {
    ...mapActions(["getCustomers"])
  },
  created() {
    //this.getCustomers();
    axios.get("/oauth/clients").then(response => {
      console.log(response.data);
    });
  }
};
</script>
