<template>
<transition name="fade">
  <div>
      <div v-if="!loading"> 
        <h2>Managers <a href="#" class="btn" v-bind:class="[!create_form_display ? 'btn-success' : 'btn-secondary']" @click="showCreateManagerForm">{{create_button_text}}</a></h2>
        <div v-if="!create_form_display">
          <table class="table">
                <tr>
                  <td>Action</td>
                  <td>Name</td>
                  <td>Email</td>
                  <td>Position</td>
                  <!--<td>Status</td>-->
                </tr>
                <manager-component :key="index" v-for="(manager, index) in managers" :manager="manager"></manager-component>
          </table>
        </div>
        <div v-else>
            <manager-create-form :create_form_display="create_form_display"></manager-create-form>
        </div>
      </div>
      <div v-else>
          <preloader-component></preloader-component>
      </div>
  </div>
</transition>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    managers: "currentManagers",
    loading: "loadingManagers",
    create_form_display: "getFormDisplay",
    create_button_text: "getButtonText"
  }),
  methods: {
    ...mapActions(["getManagers", "updateFromDisplay", "updateText", "resetErrorsCreateManagers"]),
    showCreateManagerForm() {
      this.updateFromDisplay(!this.create_form_display);
      this.updateText(this.create_form_display ? "Hide form" : "Create form");
      this.resetErrorsCreateManagers();
    }
  },
  data: function() {
    return {};
  },
  created() {
    this.getManagers();
  }
};
</script>
