<template>
<transition name="fade">
  <div>
      <h2>realty </h2>
      <div v-if="!laoding"> 
        <table>
            <tr>
              <td>Adress</td>
              <td>District</td>
              <td>Squere</td>
            </tr>
            <object-component :key="index" v-for="(object, index) in objects" :object="object"></object-component>
        </table>
      </div>
      <div v-else>
        Data uploading...
      </div>
  </div>
</transition>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    objects: "currentObjects",
    laoding: "loadingObjects"
  }),
  methods: {
    ...mapActions(["getObjects"])
  },
  created() {
    this.getObjects();
  }
};
</script>
