<template>
  <div>
      <div v-if="object_loading">
        <div>
          <a href="#" @click.prevent="showStatusForm"><i class="fas fa-edit"></i></a>
          <span class=''>{{object.realty.status_name}}</span>
        </div>
          <transition name="slide-fade">
          <div v-if="show_status_form">
            <hr>
            <div class="" >
                <select class="form-control" v-model="realty_status">
                  <option 
                  :disabled="object.realty.status_id == status.id ? 'disabled' : false" 
                  :key="index" :value="status.id" v-for="(status, index) in object.statuses">{{status.status_name}}</option>
                </select>
                <br>
                <button class="btn btn-success" @click="saveData(realty_status)">Save</button>
                <button class="btn btn-secondary" @click="hideStatusForm">Hide</button>
            </div>
          </div>
        </transition>
      </div>
      <div v-else>
            <preloader-component></preloader-component>
      </div>
  </div>
</template>
<style>

</style>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    object: "getObject",
    object_loading: "getObjectloading"
  }),
  updated() {
    this.old_value = this.object.realty["status_id"];
  },
  data() {
    return {
      old_value: null,
      realty_status: null,
      show_status_form: false
    };
  },
  methods: {
    ...mapActions(["updateObjectData"]),
    showStatusForm() {
      this.show_status_form = !this.show_status_form;
    },
    hideStatusForm() {
      this.show_status_form = false;
    },
    saveData(status) {
      if (!this.object.realty["status_id"]) {
        return false;
      }
      let data = {
        name: "realties",
        colume: "status_id",
        id: this.object.realty.id,
        value: status,
        data: {
          name: "Смена статуса",
          old: this.old_value,
          new: this.object.realty["status_id"]
        }
      };
      this.updateObjectData(data);
    }
  }
};
</script>
