<template>
    <div>
        <div >
            <a href="#" v-if="object.realty.edit_permission" @click.prevent="showEditForm">
            <i class="fas fa-edit"></i>
        </a>
        <span><span>{{object.realty[value_name]}}</span> {{measurement}} </span>
        <transition name="slide-fade">
            <div v-show="show_edit_form" class="modal" tabindex="-1"
                    role="dialog">
                <div class="modal-dialog"
                        role="document" v-if="!saving_data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Выберите нового {{form_name}}: </h5>
                        </div>
                        <div class="modal-body">

                            <div class="d-flex">
                                <button class="btn btn-success" @click="changeTemplate">Существующий</button> <button class="btn btn-success ml-1" @click="changeTemplate">Новый</button>
                            </div>
                            <hr>
                            <p v-if="current_item">
                                <select class="form-control" v-model="object.realty.tenant_id">
                                    <option 
                                        :disabled="item[value_name] == object.realty[value_name] ? 'disabled' : false" 
                                        :selected="item[value_name] == object.realty[value_name] ? 'selected' : false"  
                                        :value="item.id" 
                                        :key="index" 
                                        v-for="(item, index) in object[array_name]">
                                        {{item[value_name]}}
                                    </option>
                                </select>
                            </p>
                            <div v-else>
                                <form @submit.prevent="createTenant">
                                    <div class="form-group">
                                        <label for="text">Телефон:</label>
                                        <input id="text" class="form-control" v-model="new_tenant.phone" type="text" placeholder="Телефон">
                                        <label for="email">Email:</label>
                                        <input id="email" class="form-control" v-model="new_tenant.email" type="text"  placeholder="Email" v-validate="'email'" :class="{'border': true, ' border-danger': errors.has('email'), 'rounded':true }"
                                        name="email">
                                        <label for="name">Имя и фамилия орендатора</label>
                                        <input v-validate="'required'" :class="{'border': true, ' border-danger': errors.has('name'), 'rounded':true }"
                                        name="name"
                                        id="name" class="form-control" v-model="new_tenant.tenant_name" type="text" placeholder="Имя и фамилия орендатора">
                                        <br>
                                        <button class="btn btn-primary" type="submit">Создать</button>
                                    </div>                        
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-primary" @click="saveData">
                                Сохранить
                            </button>
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal" @click="hideEditForm">
                                Отменить
                            </button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <preloader-component></preloader-component>
                </div>
            </div>
        </transition>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: mapGetters({
    object: "getObject",
    object_loading: "getObjectloading",
    saving_data: "getSavingData"
  }),
  data: function() {
    return {
      show_edit_form: false,
      current_item: true,
      new_tenant: {
        phone: "",
        email: "",
        tenant_name: ""
      }
    };
  },
  props: [
    "form_name",
    "measurement",
    "value_name",
    "item_name",
    "array_name",
    "model"
  ],
  methods: {
    ...mapActions(["updateObjectData", "createNewTenant"]),
    showEditForm() {
      this.show_edit_form = !this.show_edit_form;
    },
    saveData() {
      let data = {
        name: this.model,
        colume: "tenant_id", //exeption from rules
        id: this.object.realty.id,
        value: this.object.realty.tenant_id,
        data: {
          name: this.form_name,
          old: this.old_value,
          new: this.object.realty[this.value_name]
        }
      };
      this.updateObjectData(data);
      this.show_edit_form = false;
    },
    createTenant() {
      if (!this.new_tenant.tenant_name) {
        return false;
      }
      let data = {
        tenant_name: this.new_tenant.tenant_name,
        phone: this.new_tenant.phone,
        email: this.new_tenant.email,
        realty_id: this.object.realty.id
      };
      this.createNewTenant(data);
      this.show_edit_form = false;
    },
    hideEditForm() {
      this.show_edit_form = false;
    },
    changeTemplate() {
      this.current_item = !this.current_item;
      console.log(this.value_name);
    }
  },
  mounted() {
    this.old_value = this.object.realty[this.value_name];
  }
};
</script>