<template>
    <div>
        <div >
            <a href="#" v-if="object.realty.edit_permission" @click.prevent="showEditForm">
            <i class="fas fa-edit"></i>
        </a>
        <span><span>{{object.realty[value_name]}}</span> {{measurement}} </span>
        <transition name="slide-fade">
            <div v-show="show_edit_form" class="modal" tabindex="-1"
                    role="dialog">
                <div class="modal-dialog"
                        role="document" v-if="!saving_data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Введите
                                новое
                                значения {{form_name}}</h5>
                        </div>
                        <div class="modal-body">
                            <p>
                                <select class="form-control" v-model="object.realty[value_name]">
                                    <option :disabled="item[value_name] == object.realty[value_name] ? 'disabled' : false" :selected="item[value_name] == object.realty[value_name] ? 'selected' : false"  :value="item[value_name]" :key="index" v-for="(item, index) in object[array_name]">{{item[value_name]}}</option>
                                </select>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-primary" @click="saveData">
                                Сохранить
                            </button>
                            <button type="button"
                                    class="btn btn-secondary"
                                    data-dismiss="modal" @click="hideEditForm">
                                Отменить
                            </button>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <preloader-component></preloader-component>
                </div>
            </div>
        </transition>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: mapGetters({
    object: "getObject",
    object_loading: "getObjectloading",
    saving_data: "getSavingData"
  }),
  data: function() {
    return {
      show_edit_form: false,
      old_value: false
    };
  },
  props: ["form_name", "measurement", "value_name", "array_name", "model"],
  methods: {
    ...mapActions(["updateObjectData"]),
    showEditForm() {
      this.show_edit_form = !this.show_edit_form;
    },
    saveData() {
      let data = {
        name: this.model,
        colume: this.value_name,
        id: this.object.realty.id,
        value: this.object.realty[this.value_name],
        data: {
          name: this.form_name,
          old: this.old_value,
          new: this.object.realty[this.value_name]
        }
      };
      this.updateObjectData(data);
      this.show_edit_form = false;
    },
    hideEditForm() {
      this.show_edit_form = false;
    }
  },
  mounted() {
    this.old_value = this.object.realty[this.value_name];
  }
};
</script>