@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);@charset "UTF-8";

label {
  margin-top: 5px;
}

.alternative-ways {
  margin: auto;
}

/* Анимации появления и исчезновения могут иметь */

/* различные продолжительности и динамику.       */

.slide-fade-enter-active {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.modal {
  display: block;
}

.tasks-wrap {
  display: none;
}

