<template>
  <div>
    <div v-if="create_errors.length > 0">
      <div v-for="(error, index) in create_errors" :key="index" class="alert alert-danger" role="alert">
        {{error}}
      </div>
    </div>
    <hr>
      <form action="#" @submit.prevent="saveManager">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" placeholder="Name" v-model="form_data.name" v-validate="'required|min:2'" :class="{'border': true, ' border-danger': errors.has('managers_name'), 'rounded':true }" name="managers_name">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Email" v-model="form_data.email" v-validate="'required|min:2|email'" :class="{'border': true, ' border-danger': errors.has('managers_email'), 'rounded':true }" name="managers_email">
          </div>
          <password-form-component :form_data="form_data"></password-form-component>

          <types-form-component :form_data="form_data" :types="types"></types-form-component>
          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
      </form>
  </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    types: "getManagerTypes",
    loading: "getLoadingTypes",
    create_errors: "getCreateManagerErrors"
  }),
  props: ["create_form_display"],
  data: function() {
    return {
      form_data: {
        name: "",
        email: "",
        password: "",
        repeate_password: "",
        user_type: false
      }
    };
  },
  methods: {
    ...mapActions(["getManagerTypesApi", "createNewManagerApi"]),
    saveManager() {
      if (this.form_data.password != this.form_data.repeate_password) {
        this.password_alert = true;
        return false;
      }
      if (
        !this.form_data.name ||
        !this.form_data.email ||
        !this.form_data.password ||
        this.$validator.errors.items > 0)//return false if form is inviled
      {
        return false
      }
      let data = {
        name: this.form_data.name,
        email: this.form_data.email,
        user_type_id: this.form_data.user_type,
        password: this.form_data.password
      };
      this.createNewManagerApi(data);
      if (this.create_errors.lenght == 0) {
          this.form_data = {
            name: "",
            email: "",
            password: "",
            repeate_password: "",
            user_type: ""
      };
      }
    }
  },
  created() {
    this.getManagerTypesApi();
  }
};
</script>
