<template>
  <div>
        <div class="form-group">
            <label for="user-type">Select role for manager:</label>
            <select id="user-type" class="custom-select form-control" v-model="form_data.user_type">
                <option value="false">Select...</option>
                <option :value="type.id" :key="index" v-for="(type, index) in types" >{{type.position}}</option>
            </select>
        </div>
  </div>
</template>
<style>
#user-type {
  cursor: pointer;
  min-height: 42px;
}
</style>

<script>
export default {
  props: ["form_data", "types"]
};
</script>

