<template>
    <span class="user_status_button" @click="changeManagerStatus">
        <span v-if="manager.user_status">
        <i class="fas fa-toggle-on"></i>
        </span>
        <span v-else>
        <i class="fas fa-toggle-off"></i>
        </span>
    </span>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
    export default {
        props:['manager'],
        methods: {
            ...mapActions(["setUserStatus"]),
            changeManagerStatus(){
                let data = {
                    id: this.manager.id,
                    status: !this.manager.user_status
                }
                this.setUserStatus(data)
            },
        },
    }
</script>    