<template>
  <div>
        <div class="form-group">
            <div>
                <label for="pass">Password:</label>
                <div class="d-flex">
                    <input :type="password_input_type" id="pass" class="form-control" placeholder="Type in password" v-model="form_data.password">
                    <span class="eye-icon" v-html="show_password_icon" @click="showHidePassword"></span>
                </div>
                
                <br>
            </div>
            <div>
                <label for="repeate-pass"> Repeate password: </label>
                <div class="d-flex">
                    <input :type="password_input_type" class="form-control" id="repeate-pass" placeholder="Repeate password" v-model="form_data.repeate_password" @blur="comparePasswordsInputs" v-validate="'required'" :class="{'border': true, ' border-danger': errors.has('password'), 'rounded':true }" name="password"> 
                    <span class="eye-icon" v-html="show_password_icon" @click="showHidePassword"></span>
                </div>
                <div v-if="password_alert" class="alert alert-danger different-passwords" role="alert">
                    Passwords does not match
                </div>
            </div>
        </div>
  </div>
</template>
<style>
.eye-icon {
  margin-left: 12px;
  align-items: center;
  line-height: 35px;
  border: 1px solid #6633;
  background-color: white;
  width: 38px;
  border-radius: 5px;
  height: 38px;
  cursor: pointer;
  text-align: center;
}
.different-passwords {
  margin-top: 10px;
}
</style>

<script>
export default {
  props: ["form_data"],
  methods: {
    showHidePassword() {
      this.hide_password = !this.hide_password;
      this.password_input_type = this.hide_password ? "password" : "text";
      this.show_password_icon = this.hide_password
        ? '<i class="fas fa-eye"></i>'
        : '<i class="fas fa-eye-slash"></i>';
    },
    comparePasswordsInputs() {
      if (this.form_data.password != this.form_data.repeate_password) {
        this.password_alert = true;
      } else {
        this.password_alert = false;
      }
    }
  },
  data: function() {
    return {
      password_alert: false,
      password_input_type: "password",
      hide_password: true,
      show_password_icon: '<i class="fas fa-eye"></i>'
    };
  }
};
</script>
