.open-task-wrap {
    margin-top: 18px;
}

.change-status-button {
    margin-left: 19px;
    text-overflow: ellipsis;
}

.change-realty-status {
    margin-bottom: 5px;
}

.history-block {
    max-height: 350px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.comments {
    max-height: 500px;
    overflow-y: auto;
    margin-bottom: 30px;
}

.sub-info-log {
    font-size: 12px;
}

.modal-dialog {
    margin: auto;
    margin-top: 3%;
}

.block-characteristics p {
    margin-bottom: 0px;
}

.details-block {
    margin-bottom: 40px;
}

.input-edit-block {
    padding: 15px;
    display: none;
    padding: 20px;
    z-index: 2;
}

.gallery-top .swiper-slide img {
    width: 300px !important;
}

.gallery-thumbs .swiper-slide img {
    width: 100px !important;
}

.input-edit-block input {
    margin-bottom: 10px;
}

#new-user-form input.form-control:first-child {
    margin-top: 14px;
}

.name-current-status {
    padding-left: 7px;
}

.comment-form button[type=submit] {
    margin-top: 15px;
}

.card-text {
    min-height: 70px;
    padding: 10px 10px 10px 19px;
}

.gallery-big img {
    width: 100%;
    height: auto;
}

.complete_engineer {
    display: none;
    margin-top: 3px;
    margin-bottom: 10px;
}

.main-name {
    margin-bottom: 18px;
}

.small-pictures>div {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.picture-wrap {
    position: relative;
    height: 53px;
    display: block;
    width: 25%;
    margin-bottom: 5px;
    margin-left: 10px;
}
.picture-wrap img {
    max-height: 65px;
}

.small-pictures img {
    width: 70px;
    margin-bottom: 3px;
    height: 100px;
}

.task-header {
    font-weight: 400;
}

.task-text {
    background-color: #E9E9E9;
    border-radius: 2px;
    line-height: 1.2;
    padding: 10px 0 10px 10px;
}

.task-block .row {
    margin-top: 5px;
}

.task-in-process {
    padding: 9px;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-bottom: 8px;
}

.task-in-process-btns button {
    margin-bottom: 3px;
    width: 121px;
}

.tasks-in-process {
    margin-top: 10px;
}

#new-task-form {
    height: 80px;
}

.delete-picture {
    position: absolute;
    z-index: 1;
    left: 56px;
    border-radius: 50%;
    top: -2px;
    background-color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    padding-top: -3px;
    font-size: 14px !important;
    color: #FF0000;
}

a:hover .delete-picture {
    text-decoration: none;
}

.history-line {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.history-line .history-date,
.history-line .history-position {
    line-height: 1;
}

.hide-headers {
    display: none;
}

.remove-object {
    display: block;
    margin-left: 10px;
    color: #c9302c;
    width: 40px;
    height: 40px;
    font-size: 30px;
    padding: 0;
    border: 2px solid #c9302c;
    line-height: 35px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-out 0.1s;
}

.remove-object:hover {
    border-color: white;
    color: white;
    background-color: #c9302c;
}

.sort-picture img {
    width: 70px;
    height: 70px;
}

.sort-picture-name,
.sort-value {
    padding-left: 10px;
    color: #777;
    padding-top: 6px;
}

.picture-block {
    margin: 8px;
    cursor: move;
}

.swiper-container {
    max-height: 226px;
}

.pdf-link {
    font-size: 17px;
    margin: 10px 0;
}

.small-pictures {
    margin-bottom: 30px;
    margin-top: 25px;
}

.select2-container {
    width: 100% !important;
}

.select2-selection--single {
    height: 40px !important;
}

#select2--container {
    line-height: 39px !important;
}

#sortable {
    margin-top: 30px;
}

.picture-sort {
    margin-top: 10px;
}