.filter-tab-wrapper{
    width: 316px;
    display: flex;
}
.fiter-tab{
    display: block;
    padding: 5px;
    border: 1px solid #169BD5;
    text-align: center;

}
.filter-square-input{
    max-width: 75px;
    display: inline-block;
}
.filter-sidebar h3 {
    padding-bottom: 10px;
}
.statistics{
    margin-top: 25px;
}

.filter p {
    margin-bottom:1rem;
}

.filter p {
    margin-bottom:1rem;
}
.filter {
    margin-bottom:1rem;
}