* {
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1300px;
    margin: auto!important;
    overflow-x: hidden;
}
label {
    width: 100%;
}
p{
    margin-bottom: 0px;
}
.status {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow{
    background-color: #F9DF37;
}

.btn {
    cursor: pointer;
}
.select2-container{
    width: 100%!important;
}
.select2-selection--single{
    height: 40px!important;
}
#select2--container{
    line-height: 36px!important;
}
#select2-tenant-container{
    line-height: 36px!important;
}