header {
    margin-top: 15px;
}

.btn-create-object {
    border-radius: 0px;
}

.user-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wraper-popup {
    width: 221px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-result-popup {
    width: 222px;
    margin-top: 17px;
    position: absolute;
    z-index: 2;
    background: white;
    display: none;
}

.header-buttons {
    max-height: 39px;
    border-radius: 4px;
}
.header-navigate-buttons {
    display: flex;
    justify-content: center;
}
.header-navigate-buttons a {
    margin-left: 5px;
}

.header-rigth-part {
    display: flex;
    justify-content: end;
}
@media (max-width: 767px) {
    .header-rigth-part {
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .header-rigth-part a {
        font-size: 17px;
    }
}