.new-task {
    color: #902A14;
    font-size: 11px;
}

.new-task i {
    padding-right: 5px;
}

.filter-button-mobile {
    width: 33px;
    margin-left: 10px;
    display: block;
    border-radius: 4px;
    text-align: center;
    height: 33px;
    cursor: pointer;
    transition: all .5s;
}

.filter-button-mobile:hover {
    background-color: rgba(228, 228, 228, 0.829);
}