/*media request*/

@media (min-width: 576px) {
    .jumbotron {
        padding-top: 33px !important;
    }
}

@media (max-width: 700px) {
    .hide-on-small {
        display: none;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 100%;
    }
}