label.error {
    display: none!important;
}
input.error {
    border:1px solid rosybrown;
}
input.valid {
    border:1px solid greenyellow;
}
.create-table input {
    margin-top: 5px;
}
.change-status{
    display: flex;
    display: none;
    position: absolute;
    border: 2px solid #5BC0DE;
    padding: 3px;
    border-radius: 29px;
    max-height: 110px;
    margin-top: -4px;
    margin-left: -4px;
    background: white;
    cursor:pointer;
}
