<div class="container">
  <div class="row">
    <div class="col-xs-4">
       <app-filter [conclusion]="conclusion"></app-filter>
    </div>
    <div class="col-xs-8">
      <app-sort></app-sort>
      <app-realty *ngFor="let realty of realties" [realty]="realty"></app-realty>
    </div>
  </div>
</div>