<h2>{{realty.name}}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>№</td>
      <td>Адрес</td>
      <td>Пл-дь, м²</td>
      <td>Тип</td>
      <td>Арендатор</td>
      <td>Срок аренды</td>
      <td>Статус</td>
    </tr>
  </thead>

  <tr *ngFor="let property of realty.data let i=index" [routerLink]="['/card', property.id]">
    <td>{{i+1}}</td>
    <td>{{property.address}}</td>
    <td>{{property.squere}}</td>
    <td>{{property.type_name}}</td>
    <td>{{property.tenant_name}}</td>
    <td>{{property.end_rend}}</td>
    <td>
      <span class="status" [ngClass]="{red: property.status_id == '3',
    yellow: property.status_id == '2',
    green: property.status_id == '1'
  }"></span>
    </td>
  </tr>

</table>
