label {
    margin-top: 5px;
}

.alternative-ways {
    margin: auto;
}

/* Анимации появления и исчезновения могут иметь */

/* различные продолжительности и динамику.       */

.slide-fade-enter-active {
    transition: all 0.4s ease;
}

.slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}