<template>
    <div>
        <div class="container">
            <div class="row">
                <form @submit.prevent="getSources">
                    <div class="form-group">
                        <input type="email" v-model="bitbucket.email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary form-control">Get code</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    props: ['project'],
    data:() => {
        return {
            bitbucket: {
                email: null
            }
        }
    },
    methods: {
        getSources() {
            let data = {
                email: this.bitbucket.email,
                project: this.$route.params.project
            }
            axios.post('/bitbucket', data).then((response)=>{
                console.log(response)
            }).catch((error)=>{
                console.log(error)
            })
        }
    }
};
</script>
