<template>
    <div class="d-flex flex-wrap">
        <project-component :project="project" :key="index" v-for="(project, index) in projects">
        </project-component>
    </div>
</template>
<script>
import { projects } from "../../data/projects";

export default {
  data: () => {
    return {
      projects
    };
  }
};
</script>
