<template>
  <div class="project-wrap">
        <div class="card object-block" style="width: 18rem;">
            <a target="_blank" :href="project.main_link"><img class="card-img-top" :src="project.avatar" :alt="project.name"></a>
            <div class="card-body">
              <h5 class="card-title">{{project.name}}</h5>
              <p class="card-text">{{project.description[language]}}</p>
              <a v-show="project.main_link" target="_blank" :href="project.main_link" class="btn btn-primary">{{project.main_link_text}}</a>
              <a v-show="project.admin_panel" target="_blank" :href="project.admin_panel" class="btn btn-primary">Admin side</a>
              <hr>
              <!-- <router-link v-show="project.bitbucket" class="btn btn-success" :to="{ name : '/cv/bitbucket/:project' , params: { project: project.bitbucket }}">Get source</router-link> -->
              <a class="btn btn-success" v-show="project.bitbucket" :href="project.source_link">Get source</a>
            </div>
        </div>
  </div>
</template>
<style>
.object-block img {
  border-bottom: 4px solid #eee;
}
.object-block {
  margin-left: 20px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .object-block {
    margin: auto;
    margin-top: 10px;
  }
  .project-wrap {
    width: 100%;
  }
}
</style>

<script>
export default {
  props: ["project"]
};
</script>
