<template>
    <div>
        <h3>Object history</h3>
        <div class="history-block" v-if="object_loading">
            <log-template-component :key="index" :log="log" v-for="(log, index) in object.realty.logs"></log-template-component>
        </div>
        <div v-else>
            <preloader-component></preloader-component>
        </div>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from "vuex";

    export default {
    computed: mapGetters({
        object: "getObject",
        object_loading: "getObjectloading"
    }),
    methods: {
        ...mapActions(["getObjectsApi"])
    },
    };
</script>
