<template>
    <div>
        <div v-if="object_loading">
            <text-input-form-component :model="'realties'" :form_name="'площади'" :measurement="'m2'" :input_type="'number'"  :value_name="'squere'"></text-input-form-component> 

            <text-input-form-component :model="'realties'" :form_name="'Адрес'" :measurement="' '" :input_type="'text'"  :value_name="'address'"></text-input-form-component>

            <select-input-form-component :model="'realties'" :form_name="'района'" :measurement="' '" :value_name="'district'" :array_name="'districts'"></select-input-form-component>

            <select-input-form-component :model="'realties'" :form_name="'типа'" :measurement="' '" :array_name="'types'" :value_name="'type_name'"></select-input-form-component>

            <text-input-form-component :model="'realties'" :form_name="'этажностости здания'" :measurement="'этаж'" :input_type="'text'"  :value_name="'building_floors'"></text-input-form-component>

            <text-input-form-component :model="'realties'" :form_name="' Этаж обекта'" :measurement="'этаж'" :input_type="'text'"  :value_name="'object_floor'"></text-input-form-component>    

            <text-input-form-component :model="'realties'" :form_name="' номера обекта'" :measurement="' '" :input_type="'text'"  :value_name="'number_object'"></text-input-form-component>    
        </div>
        <div v-else>
            <preloader-component></preloader-component>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    object: "getObject",
    object_loading: "getObjectloading"
  }),
  methods: {
    ...mapActions(["getObjectsApi"])
  },
  created() {
    this.getObjectsApi(document.querySelector(".realty_id_vue").textContent);
  }
};
</script>
