<template>
    <div>
        <div v-if="object_loading">
            <select-input-form-component :model="'realties'" :form_name="'управляющего'" :measurement="' '" :array_name="'managers'" :value_name="'name'"></select-input-form-component>
            
            <input-and-form-component :model="'realties'" :form_name="'орендатора'" :measurement="' '" :array_name="'tenants'" :value_name="'tenant_name'"></input-and-form-component>

            <text-input-form-component :model="'realties'" :form_name="'срока договора'" :measurement="' '" :input_type="'date'"  :value_name="'end_date'"></text-input-form-component>

            <text-input-form-component :model="'realties'" :form_name="'телефона орендатора'" :measurement="''" :input_type="'text'"  :value_name="'phone'"></text-input-form-component> 

            <text-input-form-component :model="'tenants'" :form_name="'E-mail арендатора'" :measurement="''" :input_type="'text'"  :value_name="'email'"></text-input-form-component> 
        </div>
        <div v-else>
            <preloader-component></preloader-component>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  computed: mapGetters({
    object: "getObject",
    object_loading: "getObjectloading"
  }),
  methods: {
    ...mapActions(["getObjectsApi"])
  },
};
</script>
