<template>
    <div>
        <input style="display:none" type="file" @change="onFileSelected" ref="fileInput">
        <button @click.prevent="$refs.fileInput.click()" class="btn btn-success">Pick files</button>
        <button @click.prevent="sendToServer" class="btn btn-success">Save</button>
    </div>
</template>
<script>

export default {
  data: () => {
    return {
      selected_files: null,
      data: new FormData()
    };
  },
  methods: {
    onFileSelected(event) {
      this.selected_files = event.target.files[0];
    },
    sendToServer() {
/*       //for (let i = 0; i < this.selected_files.length; i++) {
      this.data.append("file", this.selected_files, this.selected_files.name);
      //} */
      axios
        .post(
          "upload"
        )
        .then(response => {
          cponsole.log(response)
        })
        .catch(error => {});
    }
  }
};
</script>
    