<div class="container">
  <div class="row">
    <div class="col-xs-4"><a routerLink="">Все обекты</a></div>
    <div class="col-xs-4"><input (keyup)="onKey($event)"></div>
    <div>
      <ul>
        <li *ngFor="let search of search_result" [routerLink]="['/card', search.id]">
          {{search.address}} {{search.phone}} {{search.tenant_name}}
        </li>
      </ul>
    </div>
    <div class="col-xs-4"><span>Name Sername</span><a href="#">Выйти</a></div>
  </div>
</div>
<hr>
@include('content')
