/* You can add global styles to this file, and also import other style files */
body{
  width: 100%;
  max-width: 1200px;
  margin: auto!important;
}
.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow{
  background-color: #F9DF37;
}
.filter-tab-wrapper{
  width: 316px;
  display: flex;
}
.fiter-tab{
  display: block;
  padding: 5px;
  border: 1px solid #169BD5;
  text-align: center;

}
.filter-square-input{
  max-width: 60px;
}
