
<!--    card part    -->
<h2>{{realty.address}}</h2>

<div class="row">
    <div class="col-3">
        <figure class="figure" *ngFor="let picture of details.realty_pictures">
            <img  src="{{picture.picture_name}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption rounded">В аренде с {{realty.start_rend}}</figcaption>
        </figure>
        <div *ngIf="show_upolad_form">
            <app-upload [realty]="realty"></app-upload>
        </div>
        <div class="btn btn-primary" (click)="showUploadForm()">Upload</div>
    </div>
    <div class="col-9">
        <table>
            <tr>
                <td>Площадь</td>
                <td>{{editValueSquare}} м²</td>
                <td><button class="btn" (click)="onEditSquare()">Edit</button></td>
            </tr>
            <tr *ngIf="square_editing">
                <td><input type="text" [(ngModel)]="editValueSquare"></td>
                <td>
                    <button (click)="onSaveSquare()">save</button>
                </td>
                <td>
                    <button (click)="onCancelSquare()">Cancel</button>
                </td>
            </tr>
            <tr>
                <td>Status</td>
                <td><span class="status" [ngClass]="{red: realty.status_id == '3',
                        yellow: realty.status_id == '2',
                        green: realty.status_id == '1'
                        }"></span>
                </td>
                <td>
                    <button  *ngIf="!status_editing" class="btn" (click)="onEditStatus()">Edit</button>
                </td>
            </tr>
            <tr *ngIf="status_editing">
                <td>
                    <span *ngFor="let s of details.statuses" class="status" [ngClass]="{red: s.id == '3',
                        yellow: s.id == '2',
                        green: s.id == '1',
                        active: s.id == realty.status_id
                        }"></span>
                <td>
                    <button (click)="onSaveStatus()">Save</button>
                </td>
                <td>
                    <button (click)="onCancelStatus()">Cancel</button>
                </td>

            </tr>
            <tr>
                <td>Адрес</td>
                <td>{{realty.address}}</td>
                <td><button class="btn" (click)="onEditAddress()">Edit</button></td>
            </tr>
            <tr *ngIf="address_editing">
                <td><input type="text" [(ngModel)]="editValueAddress"></td>
                <td>
                    <button (click)="onSaveAddress()">Save</button>
                </td>
                <td>
                    <button (click)="onCancelAddress()">Cancel</button>
                </td>
            </tr>
            <tr>
                <td>

                </td>
            </tr>
            <tr>
                <td>Район</td>
                <td>{{realty.district}}</td>
                <td *ngIf="!district_editing">
                    <button class="btn btn-primary" (click)="onOpenEditDistrict()">Edit</button></td>
            </tr>
            <tr *ngIf="district_editing">
                <td>
                    <select [(ngModel)]="onEditDistrict" (ngModelChange)="onChangeDistrict($event)">
                        <option *ngFor="let c of details.districts" [ngValue]="c.district"> {{c.district}} </option>
                    </select>
                </td>
                <td><button class="btn btn-primary" (click)="onSaveDistrict()">Save</button></td>
                <td><button class="btn btn-warning" (click)="onCancelDistrict()">Cencel</button></td>
            </tr>
            <tr>
                <td>Тип</td>
                <td>{{realty.type_name}}</td>
                <td>
                    <button class="btn btn-primary" *ngIf="!type_editing" (click)="onOpenEditType()">Edit</button>
                </td>
            </tr>
            <tr *ngIf="type_editing">
                <td>
                    <select [(ngModel)]="onEditType" (ngModelChange)="onChangeType($event)">
                        <option *ngFor="let t of details.types" [ngValue]="t"> {{t.type_name}} </option>
                    </select>
                </td>
                <td><button class="btn btn-primary" (click)="onSaveType()">Save</button></td>
                <td><button class="btn btn-warning" (click)="onCancelType()">Cencel</button></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Управляющий</td>
                <td>{{realty.name}}</td>
            </tr>
            <tr>
                <td>Арендатор</td>
                <td>{{realty.tenant_name}}</td>
                <td><button class="btn btn-primary" (click)="onTenantEdit()">Edit</button></td>
            </tr>
            <tr *ngIf="tenant_editing">
                <td>
                    <input type="text" [(ngModel)]="editValueTenant">
                </td>
                <td><button class="btn btn-primary" (click)="onSaveTenant()">Save</button></td>
                <td><button class="btn btn-warning" (click)="onCancelTenant()">Cencel</button></td>
            </tr>
            <tr>
                <td>Срок договора</td>
                <td> {{realty.end_rend}} <span style="color: red">{{$details.days_left}} дня</span></td>
            </tr>
            <tr>
                <td>Телефон арендатора</td>
                <td>{{realty.phone}}</td>
            </tr>
            <tr>
                <td>E-mail арендатора</td>
                <td>{{realty.email}}</td>
            </tr>
        </table>
        <h3>Object history</h3>
        <div class="history-block">
            <div *ngFor="let log of details.logs">
                <div>
                    <p>{{log.name}}</p>
                    <span>{{log.action}}</span>
                </div>
                <div>
                    <span>{{log.created_at}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let comment of details.comments">
                <span>{{comment.name}}</span>
                <span>{{comment.created_at}}</span>
                <span>{{comment.comment}}</span>
            </div>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmitComment(f)" novalidate>
            <div class="form-group">
                <textarea ngModel name="comment" rows="3" class="form-control" placeholder="some comment..." required #comment="ngModel"></textarea>
                <button class="form-control btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
</div>