<input type="file" (change)="fileUpload($event)" placeholder="Upload file" accept=".jpg,.png">
<div class="container" *ngIf="fileList.length">
    <div class="row">
        <ul>
            <li *ngFor="let file of fileList">
                {{file[0].name}}
            </li>
        </ul>
    </div>
    <button class="btn btn-primary" (click)="upLoadPictureOnServer()">Save</button>
</div>