<div>
  <h3>Статистика</h3>
  <table>
    <tr>
      <td>Всего объектов: </td>
      <td>{{conclusion.total}}</td>
    </tr>
    <tr>
      <td>Сдано: </td>
      <td>{{conclusion.rented}}</td>
    </tr>
    <tr>
      <td>Не надежных: </td>
      <td>{{conclusion.not_reliable}}</td>
    </tr>
    <tr>
      <td>Не сдано: </td>
      <td>{{conclusion.not_rented}}</td>
    </tr>
  </table>
</div>